<div class="app-front-page col-md-8 col-md-offset-2">
  <h1 id="app-title">Food Trucks SF</h1>
  <div id="app-links">
    <%= link_to "Find Food Trucks Now!", "#index", { class: "btn btn-lg btn-success" } %>
  </div>
</div>
