<div id="sidebar" class="col-md-4">
  <h1>Hungry? Find Food Trucks Near You!</h1>

  <!-- Location Input -->
  <div id="search-buttons">
    <input class="btn btn-md btn-success" id="search-current" type="submit" value="Search by Current Location">
    <input class="btn btn-md btn-success" id="search-input" type="submit" value="Search!">
  </div>

  <!-- Map Loading Spinner -->
  <div id="spinner" class="spinner" style="display:none;">
    <img id="img-spinner" src="http://www.pjstar.com/Global/images/loading_big.gif" alt="Loading"/>
  </div>

  <ul id="truck-list" class="list-group scrollable"></ul>
</div>

<div id="full-map" class="col-md-8">
  <form id="search-location-form">
    <input class="form-control" id="search-location" type="text" name="address" placeholder="Enter a location... e.g. 534 4th Street">
  </form>
  <!-- Map Canvas -->
  <div id="map-canvas">
    <div id="map-not-load"  style="display:none;">
    Map not loading? <a href="#index" id="refresh">Refresh</a>
    </div>

    <div id="map-spinner" class="spinner">
      <img id="img-spinner" src="http://www.pjstar.com/Global/images/loading_big.gif" alt="Loading"/>
    </div>
  </div>

  <!-- No Trucks Message -->
  <div id="error-message" style="display:none;">
    <h4>There are no trucks near you :(</h4>
  </div>
</div>