<h1>All <%= trucks.length %> Trucks</h1>

<!-- FOR DEVELOPMENT PURPOSES ONLY -->
<!-- <form id="location-search-form">
  <input id="form-control" type="text" name="location[latitude]" placeholder="Latitude">
  <input id="form-control" type="text" name="location[longitude]" placeholder="Longitude">

  <input id="search-input" type="submit" value="Search!">
</form>
 -->

<div id="spinner" class="spinner" style="display:none;">
  <img id="img-spinner" src="http://www.pjstar.com/Global/images/loading_big.gif" alt="Loading"/>
</div>

<input class="btn btn-lg btn-success" id="search-current" type="submit" value="Search by Current Location">

<h4></h4>

<ul id="trucks-list"></ul>
