<h1>All <%= trucks.length %> Trucks</h1>

<input class="location-search form-control" type="text" name="location" placeholder="Enter your location (latitude and longitude) ...">

<div id="trucks-list"></div>