<h1>All <%= trucks.length %> Trucks</h1>

<div id="location-search">
  <form action="/api/data">
    <input id="form-control" type="text" name="location[longitude]" placeholder="Longitude">
    <input id="form-control" type="text" name="location[latitude]" placeholder="Latitude">

    <input type="submit" value="Submit">
  </form>
  <ul id="trucks-list"></ul>
</div>