<h1>Hungry? Find Food Trucks Near You!</h1>

<input class="btn btn-lg btn-success" id="search-current" type="submit" value="Search by Current Location">

<div id="spinner" class="spinner" style="display:none;">
  <img id="img-spinner" src="http://www.pjstar.com/Global/images/loading_big.gif" alt="Loading"/>
</div>

<div id="map-canvas">
  <div id="spinner" class="spinner" style="display:visible;">
    <img id="img-spinner" src="http://www.pjstar.com/Global/images/loading_big.gif" alt="Loading"/>
  </div>
</div>

</div>

<div id="error-message" style="display:none;">
  <h4>There are no trucks near you :(</h4>
</div>
