<h1>All <%= trucks.length %> Trucks</h1>

<div id="location-search">
  <input id="form-control" type="text" name="location" placeholder="Enter your location (latitude and longitude) ...">

  <ul id="trucks-list"></ul>
</div>