<h1>All <%= trucks.length %> Trucks</h1>

<form id="location-search-form">
  <input id="form-control" type="text" name="location[latitude]" placeholder="Latitude">
  <input id="form-control" type="text" name="location[longitude]" placeholder="Longitude">

  <input id="search" type="submit" value="Submit">
</form>

<ul id="trucks-list"></ul>
