<div id="content">
  <div id="siteNotice"></div>
  <h4 id="firstHeading" class="firstHeading"><%= truck.escape("applicant") %></h4>
  
  <div id="bodyContent">
    Food Items: <%= truck.escape("fooditems") %>
  </div>
</div>